<ul *ngIf="comments">
  <li *ngFor="let comment of comments" class="comment">
    <p>{{ comment.body }}</p>
    <p *ngIf="comment.author">{{ comment.author.user }}</p>

    <div *ngIf="send && user">
      <button (click)="setFocus(comment.id)" *ngIf="comment.id !== focusId">
        responder
      </button>
      <div *ngIf="comment.id === focusId">
        <input
          [(ngModel)]="responseBody"
          name="responseBody"
          placeholder="Comentario"
        />
        <button (click)="send()">enviar</button>
      </div>
    </div>

    <comment-component
      *ngIf="comment.subComments"
      [comments]="comment.subComments"
    ></comment-component>
  </li>
</ul>
