<comment-component [comments]="comments"></comment-component>
<form *ngIf="user">
  <input
    [(ngModel)]="newComment"
    name="newComment"
    placeholder="Nuevo comentario"
  />
  <button (click)="send()">enviar</button>
</form>
